// ─── Variables ───────────────────────────────────────────────────────────────
$primary: #0e51e0;
$primary-hover: #0e4dd3;
$primary-2: #4f80eb;
$primary-bg: #cee3ff;
$secondary: #7a7c81;
$success: #057a55;
$success-2: #0e9f6e;
$success-bg: #deffe8;
$warning: #c27803;
$warning-2: #d49d43;
$warning-2: #f0e6d6;
$danger: #e02424;
$danger-2: #f07777;
$danger-bg: #fef2f2;
$info-bg:#e6f0fd;
$surface: #ffffff;
$surface-2: #f9fafb;
$surface-dark: #212529;
$border: #e5e7eb;
$text: #111827;
$text-muted: #6b7280;
$text-light: #ffffff;


$banner-gradient-header: linear-gradient(90deg, #81e6e6, #2d9aaf);