@use '../../styles/variables' as *;

.page-container{
    min-height: 100vh;
    height: fit-content;
    background: $surface-2;
}

.header {
    position: relative;
    overflow: hidden;
    height: fit-content;
    color: white;
    background: $banner-gradient-header;
    vertical-align: middle;

    >h1 {
        font-size: 3rem;
        margin: 0;
    }
}

.logo-header{
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    height: 100%;
    margin: 0;
    padding: 0.5rem;
    z-index: 999;

    > img{
        width: 100%;
        aspect-ratio: 1/1;
    }
}

.main{
    height: fit-content;
}

.sect-izq{
    width: 65%;
    height: fit-content;
    padding-right: 15px;
}

.sect-der {
    position: sticky;
    top: 1rem;
    align-self: flex-start;
    max-height: calc(100vh - 1rem);
    overflow-y: auto;
    width: 35%;
}

.contenedor-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6%, 1fr));
    gap: 20px;
    padding: 20px;
}

.btn-letra{
    background: $primary;
    text-align: center;
    font-size: 110%;
    color: white;
    transition: transform 0.1s;

    &:hover{
        transform: translateY(-3px);
        background: $primary-hover;
    }

    &:active{
        background: $primary-2;
        color: white;
    }
}

.btn-letra-activa{
    background: $success !important;

    &:hover{
        background: $success-2 !important;
    }
}