@use '../../styles/variables' as *;

.page-container{
    height: 100vh;
    background: $surface-2;
}

.header {
    color: white;
    background: $banner-gradient-header;

    >h1 {
        font-size: 3rem;
        margin: 0;
    }
}

.main{
    height: 75vh;
}

.sect-izq{
    width: 65%;
    padding-right: 15px;
}

.sect-der{
    width: 35%;

    >div{
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    }
}

.contenedor-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    gap: 20px;
    padding: 20px;
    text-align: center;
}

.btn-letra{
    background: $primary;
    color: white;
    transition: transform 0.1s;
    
    &:hover{
        transform: translateY(-3px);
        background: $primary-hover;
    }
    
    &:active{
        background: $primary-2;
        color: white;
    }
}

.btn-letra-activa{
    background: $success !important;

    &:hover{
        background: $success-2 !important;
    }
}