<div class="page-container">
    <div class="header p-4">
        <h1>Gestión de clientes</h1>
    </div>
    <div class="main p-4 px-5 d-flex gap-3">
        <section class="sect-izq">
            <h3>Búsqueda de clientes por letra</h3>
            <hr>
            <div class="my-4">
                <div class="contenedor-grid p-0">
                    @for (letra of ABECEDARIO; track letra) {
                    <button class="btn btn-letra fw-bold"
                        [ngClass]="{'btn-letra-activa': filtro_letra == letra}" (click)="cambiarFiltroLetra(letra)">
                        {{letra}}
                    </button>
                    }
                </div>
            </div>
            <hr>
            <div>
                <app-tabla
                    [columnas]="columnasClientes"
                    [datos]="clientesFiltrados()"
                    [cargando]="!finishedLoading()"
                    [clickFila]="true"
                    [hayAcciones]="false"
                    (filaClick)="clienteSeleccionado.set($event)">
                </app-tabla>
            </div>
        </section>
        <section class="sect-der pt-3">
            <div class="card">
                @if (!clienteSeleccionado()) {
                <div class="card-header"></div>
                <div class="card-body"></div>
                <div class="card-footer"></div>
                }
                @else {
                    <div class="card-header py-3">
                        <h2 class="m-0">{{clienteSeleccionado()?.nombreCompleto}}</h2>
                    </div>
                    <div class="card-body">
                        <h5>Telefono: {{clienteSeleccionado()?.telefono}}</h5>
                        <h5>Fecha de nacimiento: {{clienteSeleccionado()?.fecha_nacimiento}}</h5>
                        <h5>Sesiones hechas: 16</h5>
                        <p>{{clienteSeleccionado()?.notas}}</p>
                        <hr>
                        <div class="card">
                            <div class="card-body px-0">
                                <app-tabla
                                    [columnas]="columnasSesiones"
                                    [datos]="sesionesFiltradas()"
                                    [cargando]="!finishedLoading_Sesiones()"
                                    mensajeVacio="No hay ninguna sesion registrada">
                                </app-tabla>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer"></div>
                }
            </div>
        </section>
    </div>
</div>